{% extends 'base1.html' %}

{% block title %}
Search
{% endblock title %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Search Result for <span style="font-family: 'Times New Roman', Times, serif; color: red;">'{{request.GET.keyword}}'</span></h3>
        </div>
    </div>
</div>
<hr>


{% for result in results %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'blogdetail' result.slug %}"><big style="color: black;">{{forloop.counter}}.</big>  &nbsp; &nbsp;
                <img src="{{result.image.url}}" alt="" class="img-fluid" style="height: 100px; width: 75px;">
            </a>
        </div>
        <div class="col-md-6">
            <h4 style="font-family: 'Times New Roman', Times, serif; color: gray;">Blog Name: <a href="{% url 'blogdetail' result.slug %}">{{result.title}}</a></h4>
            <p style="font-family: 'Times New Roman', Times, serif; color: gray;">Author Name: {{result.author_name}}
            </p>
            <p style="font-family: 'Times New Roman', Times, serif; color: gray;">Uploaded On: {{result.created_date}}
                ({{result.created_date|timesince}}) ago....</p>
            <hr>
            <hr> <br> <br>
        </div>
    </div>
</div>

{% endfor %}


{% endblock content %}